@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

/*************************
*******Typography******
**************************/

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
    line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
}

h1 {
    font-size: 36px;
/*    color: #fff;*/
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
}

img{
    max-width: 100%;
}

h4 {
    font-size: 16px;
}

a {
    color: #EC5538;
    -webkit-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
    color: #EC5538;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

.btn-primary {
    padding: 8px 20px;
    background: #EC5538;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #EC5538;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

.center h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.media>.pull-left {
    margin-right: 20px;
}

.media>.pull-right {
    margin-left: 20px;
}

body>section {
    padding: 70px 0;
}

.center {
    text-align: center;
    padding-bottom: 15px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.transparent-bg {
    background-color: transparent !important;
    margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.page-title{
    padding: 60px 0;
}

.page-title h1{
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 64px;
}


/*************************
*******Header******
**************************/

#header .search {
    display: inline-block;
}

.navbar>.container .navbar-brand {
    margin-left: 0;
}

.top-bar {
    padding: 10px 0;
    background: #191919;
    border-bottom: 1px solid #222;
    line-height: 28px;
}

.top-number {
    color: #fff;
}

.top-number p {
    margin: 0
}

.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

ul.social-share li a:hover {
    background: #EC5538;
    color: #fff;
}

.search i {
    color: #fff;
}

input.search-form {
    background: transparent;
    border: 0 none;
    width: 60px;
    padding: 0 10px;
    color: #FFF;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

input.search-form::-webkit-input-placeholder {
    color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
    color: #fff;
}

input.search-form:hover {
    width: 180px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #151515;
    padding: 15px 0;
    padding-bottom: 0;
}

.navbar-nav {
    margin-top: 12px;
}

.navbar-nav>li {
    margin-left: 35px;
    padding-bottom: 28px;
}

.navbar-inverse .navbar-nav>li>a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
    font-weight: 300;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #EC5538;
    color: #fff;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #EC5538;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, .85);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
    position: absolute;
    top: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu>li>a {
    padding: 8px 15px;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:hover>a,
.navbar-inverse .navbar-nav .dropdown-menu>li:focus>a,
.navbar-inverse .navbar-nav .dropdown-menu>li.active>a {
    background-color: #EC5538;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:last-child>a {
    border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu>li.divider {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}


/*************************
*******Home Page******
**************************/

#main-slider {
    position: relative;
}

.no-margin {
    margin: 0;
    padding: 0;
}

#main-slider .carousel .carousel-content {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

#main-slider .carousel .slide-margin {
    margin-top: 140px;
}

#main-slider .carousel h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #fff;
}

#main-slider .carousel .btn-slide {
    padding: 0 30px;
    line-height: 42px;
    background: #EC5538;
    color: #fff;
    border-radius: 4px;
    margin-top: 40px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #EC5538;
}

#main-slider .carousel .btn-slide.white {
    border: 1px solid rgba(255, 255, 255, 0.44);
    background: rgba(255, 255, 255, 0.26);
    color: #fff;
}

#main-slider .carousel .slider-img {
    text-align: right;
    position: absolute;
}

#main-slider .carousel .item {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    height: 730px;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#main-slider .carousel .item:first-child {
    top: auto;
    position: relative;
}

#main-slider .carousel .item.active {
    opacity: 1;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 1;
}

#main-slider .prev,
#main-slider .next {
    position: absolute;
    top: 50%;
    background-color: #EC5538;
    color: #fff;
    display: inline-block;
    margin-top: -25px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    z-index: 5;
}

#main-slider .prev:hover,
#main-slider .next:hover {
    background-color: #000;
}

#main-slider .prev {
    left: 10px;
}

#main-slider .next {
    right: 10px;
}

#main-slider .carousel-indicators {
    margin: 0;
    left: 0;
    width: 100%;
    bottom: 80px;
}

#main-slider .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin: 0 5px;
    position: relative;
    border: 1px solid #fff;
}

#main-slider .carousel-indicators li.active {
    background-color: #EC5538;
    border: 1px solid #EC5538
}

#main-slider .active .animation.animated-item-1 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 600ms both;
    animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
    -webkit-animation: fadeInUp 300ms linear 900ms both;
    animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
    -webkit-animation: fadeInUp 300ms linear 1200ms both;
    animation: fadeInUp 300ms linear 1200ms both;
}

#feature {
    padding-bottom: 40px;
}

.features .feature-wrap {
    margin-bottom: 35px;
}

.features .feature-wrap .icon {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    color: #D0D0D0;
    border: 1px solid #D0D0D0;
    font-size: 20px;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom: 25px;
}

.features .feature-wrap:hover .icon {
    color: #ffffff;
    border: 1px solid #EC5538;
    background-color: #EC5538;
}

.features .feature-wrap h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
    margin-bottom: 24px;
}

.features .feature-wrap p {
    font-size: 16px;
    margin: 0;
    line-height: 26px;
    color: #707070;
}

#recent-works {
    background-color: #FAFAFA;
}

#recent-works .single-work {
    padding: 0;
}

#recent-works {
    padding-bottom: 70px;
}

.recent-work-wrap {
    position: relative;
    overflow: hidden;
}

.recent-work-wrap img {
    width: 100%;
}

.recent-work-wrap .recent-work-inner {
    top: 0;
    background: transparent;
    opacity: .8;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}

.recent-work-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    vertical-align: middle;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    padding: 30px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.recent-work-wrap .overlay .preview {
    color: #fff;
    height: 50px;
    width: 50px;
    background-color: #EC5538;
    border-radius: 50%;
    display: inline-block;
    line-height: 50px;
}

.recent-work-wrap:hover .overlay {
    opacity: 1;
}

.services-wrap {
    padding: 40px 30px;
    background: #fff;
    border-radius: 4px;
    margin: 0 0 40px;
    -webkit-transition: .4s;
    transition: .4s;
    color: #707070;
    font-size: 16px;
    line-height: 26px;
}

.services-wrap p:last-child {
    margin: 0;
}

.services-wrap:hover {
    background-color: #FAFAFA;
}

.services-wrap h3 {
    font-size: 20px;
    margin: 0 0 15px;
    color: #333333;
    font-weight: 700;
}

.services-wrap .pull-left {
    margin-right: 40px;
    margin-top: 15px;
}

#middle {
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

#middle::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    opacity: .3
}

#middle h2 {
    font-size: 48px;
    color: #ffffff;
}

#middle .skill {
    margin-bottom: 60px;
}

.progress-wrap {
    position: relative;
    padding: 10px 35px;
}

.progress-wrap h3 {
    color: #ffffff;
    text-align: left;
}

.progress .color1,
.progress .color1 .bar-width,
.progress .color1 .bar-width::after {
    background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width,
.progress .color2 .bar-width::after {
    background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width,
.progress .color3 .bar-width::after {
    background: #ffcc33;
}

.progress .color4,
.progress .color4 .bar-width,
.progress .color4 .bar-width::after {
    background: #db3615;
}

.progress,
.progress-bar {
    height: 10px;
    line-height: 10px;
    background: #e6e6e6;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    overflow: visible;
    text-align: right;
}

span.bar-width::after {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: -32.5px;
    border-radius: 50%;
    right: 5px;
    border: 4px solid #fff;
}

.progress {
    position: relative;
}

.progress .bar-width {
    position: absolute;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    top: -40px;
    border-radius: 2px;
    margin-left: -30px;
}

.progress .progress-bar .bar-width {
    background-color: #fff;
    color: #707070;
}

.progress span {
    position: relative;
}

.progress .progress-bar span:before {
    content: " ";
    position: absolute;
    width: auto;
    height: auto;
    border-width: 8px 5px;
    border-style: solid;
    bottom: -15px;
    right: 8px;
    border-top-color: #ffffff !important;
    color: #222;
}

.progress .color1 span:before {
    border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before {
    border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before {
    border-color: #ffcc33 transparent transparent transparent;
}

.progress .color4 span:before {
    border-color: #db3615 transparent transparent transparent;
}

.accordion h2 {
    margin-bottom: 25px;
}

.panel-default {
    border-color: transparent;
}

.panel-default>.panel-heading,
.panel {
    background-color: #e6e6e6;
    border: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
    background: #fff;
    color: #858586;
}

.panel-body {
    padding: 20px 20px 10px;
}

.panel-group .panel+.panel {
    margin-top: 0;
    border-top: 1px solid #d9d9d9;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-heading {
    border-radius: 0;
}

.panel-title>a {
    color: #4e4e4e;
}

.accordion-inner img {
    border-radius: 4px;
}

.accordion-inner h4 {
    margin-top: 0;
}

.panel-heading.active {
    background: #1f1f20;
}

.panel-heading.active .panel-title>a {
    color: #fff;
}

a.accordion-toggle i {
    width: 45px;
    line-height: 44px;
    font-size: 20px;
    margin-top: -10px;
    text-align: center;
    margin-right: -15px;
    background: #c9c9c9;
}

.panel-heading.active a.accordion-toggle i {
    background: #EC5538;
    color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i {
    background: #EC5538;
    color: #fff;
}

.nav-tabs>li {
    margin-bottom: 0px;
    border: 1px solid transparent;
}

#content .nav-tabs>li.active>a,
#content .nav-tabs>li.active>a:hover,
#content .nav-tabs>li.active>a:focus {
    color: #EC5538;
    background-color: #F9FAFB;
    border: 1px solid #E9EFF4;
    font-weight: 500;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}

#content .tab-pane{
    padding-left: 100px;
}

.video-box{
    position: relative;
}

.video-box a.video-icon{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #EC5538;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
    border: 2px solid #fff;
}

.nav-tabs {
    border: none;
}

.nav-tabs>li>a {
    color: #666;
    border-radius: 0;
    border: 1px solid transparent;
    line-height: 24px;
    margin-right: 0;
    padding: 13px 30px;
}
.nav-tabs>li>a:hover{
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs li:last-child {
    border-bottom: 0 none;
}

.nav-stacked>li+li {
    margin-top: 0;
}


.tab-wrap {
    margin-bottom: 20px;
}


.tab-content h2 {
    margin-top: 0;
}

.tab-content img {
    border-radius: 4px;
}

.testimonial h2 {
    margin-top: 0;
}

.testimonial-inner {
    color: #858586;
    font-size: 14px;
}

.testimonial-inner .pull-left {
    border-right: 1px solid #e7e7e7;
    padding-right: 15px;
    position: relative;
}

.testimonial-inner .pull-left:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 50%;
    margin-top: -5px;
    background: #FFF;
    /* -webkit-transform: rotate(45deg); */
    border: 1px solid #e7e7e7;
    right: -5px;
    border-left: 0 none;
    border-bottom: 0 none;
}

#partner {
    background-image: url(../images/partner-bg.png);
    background-size: cover;
    background-position: center center;
}

#partner {
    color: #fff;
    text-align: center;
}

#partner h2,
#partner h3 {
    color: #fff;
}

.partners ul li a img{
    margin: 0 auto;
}

.partners ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.partners ul li {
    display: inline-block;
    /* float: left; */
    width: 20%;
}

#conatcat-info {
    background: #fff url(../images/contact.png) no-repeat 90% 0;
    padding: 30px 0;
}

.contact-info i {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    background: #000;
    text-align: center;
    border-radius: 10px;
}

.contact-info h2 {
    margin-top: 0;
    color: #000;
}

.contact-info {
    color: #000;
}

/*testimonial slider*/

#testimonial{
    background-color: #FAFAFA;
}
.testimonial-slider.owl-carousel .owl-item img{
    width: auto;
    display: inline-block;
}

.testimonial-slider{
    text-align: center;
}

.testimonial-slider .single-slide{
    background-color: #fff;
    padding: 45px 35px;
    color: #707070;
    font-size: 16px;
    line-height: 26px;
}

.testimonial-slider .single-slide .slide-img{
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 15px;
}
.testimonial-slider .content h4{
    margin: 20px 0 0;
}
.testimonial-slider .content img{
    margin-bottom: 20px;
}
.testimonial-slider .owl-dots{
    margin: 50px 0 0;
}
.testimonial-slider .owl-dot {
    width: 10px;
    height: 10px;
    background: #fff;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #EC5538;
}
.testimonial-slider .owl-dot.active{
    background-color: #EC5538;
}



/* Start: Recommended Isotope styles */


/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}


/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}


/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}


/* End: Recommended Isotope styles */


/* disable CSS transitions for containers with infinite scrolling*/

.isotope.infinite-scrolling {
    -webkit-transition: none;
    transition: none;
}


/******************
 404 page css
 ******************/

#error .btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success:hover {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
    color: #4E4E4E;
}

#error h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 250px;
    line-height: 190px;
    margin-top: 0;
    margin-bottom: 40px;
}

#error p {
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 50px;
}

#error{
    background-position: center center;
    background-size: cover;
    height: 100%;
    padding: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/******************
shortcodes page css
******************/

.shortcode-item {
    padding-bottom: 0;
}

.shortcode-item h2 {
    color: #4E4E4E;
    font-size: 24px;
    margin-bottom: 22px;
    margin-top: 0;
    font-weight: 600
}


/***********************
********* Footer ******
************************/
.footer-logo{
    display: inline-block;
}
#bottom {
    background: #f5f5f5;
    border-bottom: 5px solid #EC5538;
    font-size: 14px;
}

#bottom h3 {
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

#bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#bottom ul li {
    display: block;
    padding: 4px 0;
}

#bottom ul li a {
    color: #808080;
    font-weight: 300;
}

#bottom ul li a:hover {
    color: #EC5538;
}

#bottom .widget {
    margin-bottom: 0;
    padding-left: 15px;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #2e2e2e;
    font-weight: 300;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #EC5538;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul>li {
    display: inline-block;
    margin-left: 15px;
}

.form_filters select {
    margin-left: 15px;
    margin-bottom: 5px;
    border-radius: 7px;
}

.cont_filters {
    border: solid 2px darkviolet;
    background-color: darkgrey;
    text-align: center;
    padding-top: 10px;
    border-radius: 4px;
}

.main_filters {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
}

.filter_button, .reset_filters {
    float: right;
    margin-left: 3px;
    margin-right: 3px;
}

.center_pag {
    align-items: center;
}

.white-text {
    text-decoration-color: white;
    color: white;
}

.fa-heart-o {
    margin: 10px;
    color: red;
    cursor: pointer;
  }
  
  .fa-heart {
    margin: 10px;
    color: red;
    cursor: pointer;
  }

.hd_items {
    text-align: justify;
}

.hd_items span {
    display: block;
    text-align: right;
}

 /* label {
    position: relative;
    cursor: pointer;
  }
  
  .search-icon:before {
    content: "\f002";
    position: absolute;
    left: 16px;
    top: 16px;
    right: 16px;
    bottom: 0px;
    font-family: "FontAwesome";
    color: #828e9e;
  }
  
  input {
    width: 16px;
    height: 16px;
    border: none;
    outline: none;
    padding: 16px;
    border-radius: 8px;
    font-size: 1em;
    transition: 0.5s;
    color: #ff0000;
    background-color: #fff;
    caret-color: #ff0000;
    caret-width: 2px; 
  }
  
  input:hover {
    cursor: pointer;
  }
  
  input:focus {
    width: 20vw;
    box-shadow: 0px 5px 25px -5px rgb(90, 183, 226);
  }
  
  input:focus ~ .search-icon {
    transition: 0.1s;
    opacity: 0;
  }
  
  @media only screen and (max-width: 400px) {
    input:focus {
      width: 50vw;
      transition: 0.5s;
    }
  } */

@import "compass/css3";
/* Global settings */
/* Global "table" column settings */
.product-image {
    float: left;
    width: 20%;
}
.product-details {
    float: left;
    width: 37%;
}
.product-price {
    float: left;
    width: 12%;
}
.product-quantity {
    float: left;
    width: 10%;
}
.product-removal {
    float: left;
    width: 9%;
}
.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}
/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before, .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    content: '';
    display: table;
}
.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
}
.group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
}
/* Apply clearfix in a few places */
/* Apply euro signs */
.product .product-price:after, .product .product-line-price:after, .totals-value:after {
    content: ' €';
}
/* Body/Header stuff */
#main {
    padding: 0px 30px 30px 20px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
}
#main h1 {
    font-weight: 100;
}
#main label {
    color: #aaa;
}
.shopping-cart {
    margin-top: -45px;
}
/* Column headers */
.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
    text-indent: -9999px;
}
/* Product entries */
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.product .product-image {
    text-align: center;
}
.product .product-image img {
    width: 100px;
}
.product .product-details .product-title {
    margin-right: 20px;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
.product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}
.product .product-quantity input {
    width: 40px;
}
.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
    font-size: 12px;
    border-radius: 3px;
}
.product .remove-product:hover {
    background-color: #a44;
}
/* Totals section */
.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}
.totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}
.totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}
.totals .totals-item-total {
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}
.checkout:hover {
    background-color: #494;
}