<div class="container_login">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 id="titulo">Login</h3>
			</div>
			<div class="card-body">

			<div id="login_complete">
				<form name="login_form">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Username" id="username_login" name="username_login">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Password" id="pass_login" name="pass_login">
					</div>
					<!-- <div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div> -->
					<div class="form-group">
						<!-- <input type="submit" value="Login" class="btn float-right login_btn"> -->
						<button type="button" class="btn float-right login_btn" id="login_button" onclick="login_user()">Login</button>
					</div>
				</form>

				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						¿No tienes cuenta?<a href="#" id="login_link">Registrate ya.</a>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#">¿Has olvidado tu contraseña?</a>
					</div>
				</div>
			</div>
			
			<div id="register_complete" style="display: none;">
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
				<form id="register_form" name="register_form">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Username" id="username_reg" name="username_reg">
					</div>
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
					
						</div>
						<input type="email" class="form-control" placeholder="Correo Electronico" id="email" name="email">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Password" id="pass" name="pass">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Confirm password" id="cpass" name="cpass">
					</div>
					<div class="form-group">
						<!-- <input type="button" value="Register" class="btn float-right login_btn" id="register_button"> -->
						<button type="button" class="btn float-right login_btn" id="register_button" onclick="register_user()">Register</button>
					</div>
					<div class="div_class_pass">
						<span id="span_pass" class="span_pass"></span>
					</div>
				</form>

				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						¿Ya tienes una cuenta?<a href="#" id="register_link">Entra ya.</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>