<header id="header">

    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php"><img src="view/images/logo.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav list_menu">
                    <li class="active"><a href="index.php" data-tr="Homepage">Home</a></li>
                    <li><a href="index.php?page=controller_cars&op=list" data-tr="Cars">Cars</a></li>
                    <li><a href="#" class="menu_shop" data-tr="Shop">Shop</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-tr="Languages">Languages <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a data-tr="Spanish" id = "btn-es">Spanish</a></li>
                            <li><a data-tr = "English"  id = "btn-en">English</a></li>
                        </ul>
                    </li>
                    <li><a href="index.php?page=controller_cart&op=list"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    <li>
                        <label><input type="text" id="search-bar" onkeyup="search(event)"><span class="search-icon"></span></label>
                    </li>
                </ul>
            </div>
        </div>
        <!--/.container-->
    
        
    </nav>
</header>